<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT sEO ANY>
<!ATTLIST sEO id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT baseContent ANY>
<!ATTLIST baseContent id ID #REQUIRED>
<!ELEMENT nestedContentTest ANY>
<!ATTLIST nestedContentTest id ID #REQUIRED>
]>
<root id="-1">
  <home id="1052" key="4bea47d5-8717-4d64-b178-e34422ac479f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-12-19T21:52:57" updateDate="2017-01-03T22:21:52" nodeName="Home" urlName="home" path="-1,1052" isDoc="" nodeType="1050" creatorName="shimi itach" writerName="shimi itach" writerID="0" template="1049" nodeTypeAlias="home">
    <pageTitle><![CDATA[test]]></pageTitle>
    <text><![CDATA[<p>test</p>]]></text>
    <nc><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"nestedContentTest","title":"tesr","text":"<p>sfdsfsf</p>"},{"name":"Item 2","ncContentTypeAlias":"nestedContentTest","title":"cvcv","text":"<p>cvcv</p>"}]]]></nc>
    <grid><![CDATA[{
  "name": "3 column layout",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Header",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "816d20f9-4cc6-aa9a-17fc-f9988f21400a"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": [
                    {
                      "sdf": {
                        "value": "sdf",
                        "dataTypeGuid": "0cc0eba1-9960-42c9-bf9b-60e150b429ae",
                        "editorAlias": "sdf",
                        "editorName": "sdf"
                      },
                      "sdfsdfdf": {
                        "value": "2017-01-03",
                        "dataTypeGuid": "5046194e-4237-453c-a547-15db3a07c4e1",
                        "editorAlias": "sdfsdfdf",
                        "editorName": "sdfsdfdf"
                      }
                    }
                  ],
                  "editor": {
                    "alias": "sdfg"
                  },
                  "active": true,
                  "guid": "d1fc2288-897d-3ff2-e40b-c42bbe9d8fa5"
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "hasConfig": false,
          "id": "de70e890-3a3c-e604-8ca5-09984c725f0b",
          "hasActiveChild": true,
          "active": true
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Article",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>sdfsdfdsfsdf</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "sdfsdfdsfsdf",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "8690993e-62a7-b6f1-c921-3ec767af7b7a"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Article",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1057,
                    "image": "/media/1001/desert.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>sdsdfsdf</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "e228221a-21e4-0c2f-3f48-52a73ca83757"
        }
      ]
    }
  ]
}]]></grid>
  </home>
</root>